.home-aboutus-header {
  /* border: solid 1px red; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 45px 75px;
}

.home-aboutus-header h3 {
  margin-bottom: 15px;
}

.home-aboutus-header p {
  font-size: 17px;
}

.find-out-more {
  display: inline-block;
  padding: 7px 18px;
  border-radius: 10px;
  border: solid 2px #ff8b38;
  margin-top: 15px;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.find-out-more::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #ff8b38, #ff6b02);
  z-index: -1;
  transition: all 0.3s ease;
}

.find-out-more:hover::before {
  left: 0;
}

.find-out-more:hover {
  color: #ffffff;
}

/* .home-aboutus-link-container {
  border: solid 1px red;
} */

.home-aboutus-link-container .imageWrapper {
  width: 70px;
  margin-right: 25px;
}

.home-aboutus-link-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.home-aboutus-link-container a {
  color: #6f6f6f;
  margin-left: 5px;
  transition: all 0.3s ease;
  font-size: 15px;
}

.home-aboutus-link-container a:hover {
  color: #ff8b38;
}

/* home member slider styling */

.home-member-container {
  /* border: solid 1px red; */
  padding-bottom: 105px;
}

.home-m-s-content-container {
  /* border: solid 1px red; */
  text-align: center;
  padding: 25px 0;
}

.home-m-s-content-container .imageWrapper {
  width: 250px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}

.home-m-s-content-container h4 {
  margin-top: 34px;
  margin-bottom: 5px;
}

.home-m-s-content-container a {
  color: #ff8b38;
}

.home-m-s-content-container h5 {
  margin-bottom: 5px;
}

/* press coverage */

.home-press-container {
  /* border: solid 1px red; */
  padding: 75px 0;
}

.home-press-heading {
  margin-bottom: 45px;
}

/* .home-press-content-container {
  border: solid 1px blue;
} */

.home-press-content {
  /* border: solid 1px red; */
  padding: 25px 10px;
}

.home-press-card {
  margin: auto;
}

.home-press-card {
  color: #333;
  min-height: 450px;
}

.home-press-image {
  height: 280px;
}

/* subscribe section */
.subscribe-container {
  /* border: solid 1px red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 75px 0;
  /* background-image: linear-gradient(
    to right,
    rgb(255, 70, 60),
    rgb(255, 187, 0)
  ); */
  /* background-image: linear-gradient(
    to right,
    rgb(39, 39, 39),
    rgb(100, 100, 100)
  ); */
  /* background-color: #ff8b38; */
  background-image: linear-gradient(to bottom, #ffa96c 30%, #ff8b38 100%);
}

.subscribe-container h3 {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  margin-bottom: 25px;
}

/* contact section */

.contact-section2-container {
  /* border: solid 1px red; */
  min-height: 100vh;
  padding: 75px 25px;
  background-color: rgba(222, 222, 222, 0.3);
}

.ct-sec2-header {
  margin-bottom: 55px;
}

.ct-sec2-header h4 {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.ct-sec2-contactform,
.ct-sec2-gmap-conatiner {
  padding: 25px;
  /* border: solid 1px blue; */
}

.ct-sec2-gmap {
  width: 100%;
  height: 610px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.home-contact-membership-container {
  /* border: solid 1px red; */
  margin-top: 25px;
}

.home-contact-membership-container span {
  color: #6f6f6f;
  margin-right: 8px;
  font-size: 12px;
}

.home-contact-membership-container a {
  color: #ff8b38;
  display: inline-block;
  transition: all 0.3s ease;
}

.home-contact-membership-container a:hover {
  transform: scale(1.08);
}

/* responsive design mobile device */

@media screen and (max-width: 768px) {
  .home-aboutus-link-container p {
    flex-direction: column;
  }
}
